body {
  font-family: 'Comic Sans MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #FFEE58, #FF7043);
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #FFF;
  font-size: 3rem;
  text-shadow: 2px 2px #FF6F00;
  text-align: center;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #FFF;
  background: #FF6F00;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

nav a:hover {
  background: #FFA000;
  transform: scale(1.1);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.game-board {
  display: grid;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}

#tic-tac-toe .game-board {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 300px;
  width: 100%;
}

#hangman-game .game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hangman-game #word-display {
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: bold;
  color: #FF6F00;
  margin: 20px 0;
}

#hangman-game #guessed-letters {
  font-size: 1.5rem;
  color: #FF6F00;
  margin: 10px 0;
}

#hangman-game #remaining-attempts {
  font-size: 1.2rem;
  color: #FF6F00;
  margin: 10px 0;
}

#hangman-game #hangman-image {
  width: 200px;
  height: 200px;
  background: url('../../../images/hangman0.png') no-repeat center center;
  background-size: contain;
  margin: 20px 0;
}

#hangman-game #guess-input {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #FF6F00;
  border-radius: 5px;
  margin-right: 10px;
}

#hangman-game #guess-button {
  background-color: #FF6F00;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#hangman-game #guess-button:hover {
  background-color: #FFA000;
}

#snake-game .game-board {
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  max-width: 600px;
  width: 100%;
  border: 5px solid #333; /* Borde que delimita el área de juego */
  border-radius: 10px; /* Opcional: para redondear las esquinas */
}

.game-board div {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #333;
  background: #FFF;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background 0.3s;
}

.game-board div:hover {
  background: #FFCC80;
  transform: rotate(5deg) scale(1.1);
}

.game-board .symbol {
  display: inline-block;
  width: 70%;
  height: 70%;
  background-size: cover;
}

.snake {
  background-color: green !important;
  border-radius: 10% !important;
  width: 100%;
  height: 100%;
}

.food {
  background-color: red !important;
  border-radius: 50% !important;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  nav a {
    font-size: 1rem;
    padding: 8px 15px;
  }

  .game-board {
    gap: 5px;
  }

  .game-board div {
    font-size: 1.5rem;
  }

  #tic-tac-toe .game-board,
  #snake-game .game-board,
  #snake-game .game-board {
    max-width: 100%;
  }
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Posición fija para cubrir la pantalla */
  z-index: 1000; /* Aparece encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff; /* Fondo blanco para el contenido del modal */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #FF6F00; /* Color de la X */
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #FFA000; /* Color al pasar el mouse sobre la X */
}

.modal p {
  color: #FF6F00; /* Color del texto del mensaje en el modal */
  font-size: 1.2rem;
}

.modal button {
  background-color: #FF6F00; /* Fondo del botón */
  color: #FFF; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #FFA000; /* Color del botón al pasar el mouse */
}


